:root {
  --base: #202020;
  --text: #d0d0d0;
  --border: #3a3a3a;
  --accent: #6c99ba;
  --green: #7e8d50;
  --red: #ac4142;
  --orange: #e5b566;
  --yellow: #eecb8b;
  --purple: #9e4e85;
  --cyan: #7dd5cf;
}
