:root {
  --base: #282a36;
  --text: #f8f8f2;
  --border: #44475a;
  --accent: #bd93f9;
  --green: #50fa7b;
  --red: #ff5555;
  --orange: #ffb86c;
  --yellow: #f1fa8c;
  --purple: #bd93f9;
  --cyan: #8be9fd;
}
