:root {
  --base: #272e33;
  --text: #d3c6aa;
  --border: #374145;
  --accent: #7fbbb3;
  --green: #a7c080;
  --red: #e67e80;
  --orange: #e69875;
  --yellow: #dbbc7f;
  --purple: #d699b6;
  --cyan: #83c092;
}
