:root {
  --base: #282c34;
  --text: #c5c8c6;
  --border: #3e4451;
  --accent: #61afef;
  --green: #98c379;
  --red: #e06c75;
  --orange: #d19a66;
  --yellow: #e5c07b;
  --purple: #c678dd;
  --cyan: #56b6c2;
}
