:root {
  --base: #282828;
  --text: #ebdbb2;
  --border: #3c3836;
  --accent: #458588;
  --green: #b8bb26;
  --red: #fb4934;
  --orange: #fe8019;
  --yellow: #fabd2f;
  --purple: #d3869b;
  --cyan: #83a598;
}
