:root {
  --base: #2e3440;
  --text: #d8dee9;
  --border: #3b4252;
  --accent: #88c0d0;
  --green: #a3be8c;
  --red: #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --purple: #b48ead;
  --cyan: #88c0d0;
}
