:root {
  --base: #002b36;
  --text: #839496;
  --border: #073642;
  --accent: #268bd2;
  --green: #2aa198;
  --red: #dc322f;
  --orange: #cb4b16;
  --yellow: #b58900;
  --purple: #6c71c4;
  --cyan: #268bd2;
}
