:root {
  --base: #1c1917;
  --text: #b4bdc3;
  --border: #352f2d;
  --accent: #6099c0;
  --green: #819b69;
  --red: #de6e7c;
  --orange: #b77e64;
  --yellow: #d68c67;
  --purple: #b279a7;
  --cyan: #66a5ad;
}
